{% extends "layout.html" %}
{% block body %}
<div id="loginbox">
    <h1>Tipsy - A lightweight tasklist</h1>

    <form action="{{ url_for('index') }}" method="post">
        <div class='input-field'>
            <label for="email">Email</label>
            <input type="text" name="email"></input>
        </div>
        <div class='input-field'>
            <label for="password">Password</label>
            <input type="password" name="password"></input><br/>
        </div>
        <div class='submit-button'>
            <input type="submit">
        </div>
    </form>

</div>
{% endblock %}
