<!DOCTYPE html>
<html>
    <head>
        <title>Tipsy Task List</title>
        <link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css">
    </head>
    <body>
        <div class="container">
            <h1>Task List</h1>
            <div class="tasklist">
                <ul>
                {% for task in tasks %}
                <li><a href="/task/{{task['id']}}">Task {{ task['id'] }}</a>: {{ task['title'] }}{% if task['completed_at'] %} &mdash; Completed{% endif %}</li>
                {% endfor %}
                </ul>
            </div>

            <form method="POST" action="/save_task">
                <label for="title">New Task Item
                <input type="text" name="title" id="title"></input>
                <input type="submit"></input>
            </form>
        </div>
    </body>
</html>
